---
import Layout from "@layouts/Layout.astro"

const listItemClass = "swiper-slide"
---

<Layout title='Projects Showcase'>
  <!-- <section class='swiper'>
    <div class='swiper-wrapper'>
      <div class={listItemClass}>
        <div>Project 1</div>
      </div>
      <div class={listItemClass}>
        <div>Project 2</div>
      </div>
      <div class={listItemClass}>
        <div>Project soon</div>
      </div>
      <div class={listItemClass}>
        <div>Project soon</div>
      </div>
    </div>
    <script>
      import Swiper from "swiper"
      import "swiper/css"

      const swipper = new Swiper(".swiper", {
        direction: "vertical"
      })
    </script>
  </section> -->
  <section class="grid place-items-center">
    Soon 👋
  </section>
</Layout>
