---
import Layout from "@layouts/Layout.astro"
import { getProjects } from "../../lib/contentful"

import Grid from "@layouts/Grid.astro"
import Card from "@components/Card"
import Caption from "@components/Caption"

const projects = await getProjects()
---

<Layout title='Projects Showcase'>
  <section>
    <Caption text='Projects' />
    <Grid>
      {
        projects.map((project) => {
          return (
            <Card
              client:idle
              type='project'
              title={project.title}
              image={project.image}
              tags={project.tags}
              href={project.link}
            />
          )
        })
      }
    </Grid>
  </section>
</Layout>
