---
import {Github, Linkedin} from "../../components/Icons/"
import content from "@content";
---

<div class='flex justify-around py-3'>
  <div>{content.footer.fullName}</div>
  <div class='flex gap-x-3'>
    <Github />
    <Linkedin />
  </div>
</div>
