---
import {Github, Linkedin} from "../../components/Icons/"
---

<div class='flex justify-around py-3'>
  <div>Hamit Can DASCI</div>
  <div class='flex gap-x-3'>
    <Github />
    <Linkedin />
  </div>
</div>
