---
import { Github } from "../../components/Icons"
---

<div class='flex justify-around py-3'>
  <div>Meee</div>
  <div class='flex gap-x-3'>
    <Github />
    <div>asd</div>
    <div>asd</div>
  </div>
</div>
