---
import { ViewTransitions } from "astro:transitions"
import Header from "@components/Header"
import Footer from "@components/Footer"
import content from "@content"

interface Props {
  title?: string
}

const { title = "De3ph" } = Astro.props
const links = content.header.links
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com/' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,371&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class='max-w-screen-2xl mx-auto
    font-system -tracking-wide leading-snug min-h-screen flex flex-col
    bg-neutral-900 text-neutral-200 px-10 md:px-36'
  >
    <Header links={links} />
    <section class='grow-0 sm:grow grid py-5 text-wrap'>
      <slot />
    </section>
    <Footer />
  </body>
</html>
